*
{
  box-sizing: border-box;
}
.textareacomments
{
  padding-bottom: 200px;
}
body
{
  background-color: lavender;
}
div
{
  text-align: left;
  line-height: 1.50em;
  font-family: serif;
  margin-bottom: 10px;
  padding: 3px;
}
h1, h2, h4
{
  text-align: center;
}
.first-paragrapgh
{
  color: black;
  font-size: 30px;
  text-indent: 5px;
  font-weight: 400;
}
.first-paragraph::first-line
{
  font-size: 30px;
}
.second-paragrapgh
{
  font-size: 15px;
}

table
{
  border: 1px solid black;
  font-weight: 400;
}
p
{
  font-family: serif;
}
header
{
  position: fixed;
  top: 1px;
  left: 1px;
  background-color: lavender;
  text-transform: uppercase;
  margin-top: 1;
  height: 2em;
  width: 100%;
  text-align: left;
}
.menu-item
{
  display: inline-block;
  margin: 1em .2em;
  min-width: 4em;
  text-align: center;
  background-color: lavender;
}
.menu-item a
{
  color: #fff;
  text-decoration: none;
}
.menu-item:hover
{
  background-color: lightcyan;
}
.dropdown
{
  display: inline-block;
}
.dropdown-content
{
  display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #fff;
}
.dropdown-content a
{
  color: #000;
}
.dropdown:hover .dropdown-content
{
  display: block;
}
.dropdown-item
{
  display: block;
  text-align: left;
  margin: 1;
  min-width: 3em;
}
.dropdown-item:hover, .dropdown-item:hover a
{
  color: black;
  background-color: aliceblue;
}
.mainimage
{
  float: left;
  content: url('firstimage.jpg');
}
@media only screen and (min-width: 600px)
{
  .mainimage
  {
    content: url('firstimage.jpg');
  }
}
.secondimage
{
  float: right;
  content: url('secondimage.jpeg');
}
@media only screen and (min-width: 600px)
{
  .secondimage
  {
    float: right;
    content: url('secondimage.jpeg');
  }
}
.thirdimage
{
  margin: auto;
  content: url('thirdimage.jpg');
}
@media only screen and (min-width: 600px)
{
  .thirdimage
  {
    margin: auto;
    content: url('thirdimage.jpg');
  }
}
.fourthimage
{
  margin: auto;
  content: url('fourthimage.jpg');
}
@media only screen and (min-width: 600px)
{
  .fourthimage
  {
    margin: auto;
    content: url('fourthimage.jpg');
  }
}
.fifthimage
{
  margin: auto;
  content: url('fifthimage.jpg');
}
@media only screen and (min-width: 600px)
{
  .fifthimage
  {
    margin: auto;
    content: url('fifthimage.jpg');
  }
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]
{
  float: left;
  padding: 10px;
}
.row::after
{
  content: " ";
  clear: both;
  display: table;
}
.contactus
{
  width: 45%;
  margin-left: 20%;
}
